.layoutContent {
  padding: 24px;
  min-height: 50vh;
}

.codeEditor {
  height: calc(90vh - 7rem);
}

.split {
  display: flex;
  flex-direction: row;
}

:global .gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

:global .gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
